.picker_container {
    width: 1200px;
    margin: 20px auto;
    display: flex;
  }

  .picker_choseImg {
    width: 300px;
  }

  .picker_choseImg_btn {
    display: block;
    width: 100px;
    height: 32px;
    font-size: 13px;
    border-radius: 2px;
    color: #fff;
    background-color: #3280fc;
    border-color: #1970fc;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
  }

  .picker_choseImg_btn:hover {
    background-color: #165ed3;
  }

  .picker_view {
    width: 900px;
    /* display: flex;
     justify-content: center; */
  }

  .picker_view canvas {
    margin: 0 auto;
  }

  .zhanshi {
    width: 200px;
    height: 40px;
    margin-left: 50px;
    margin-top: 40px;
    display: none;
    cursor: pointer;
  }

  .info {
    margin-top: 50px;
  }

  .mainIndex_title span {
    color: #666;
    font-size: 12px;
    margin-left: 10px;
  }

  .info_detail {
    font-size: 18px;
  }

  .info_detail span {
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: middle;
    margin-left: 10px;
  }